*,
::after,
::before {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; /*10px*/
  scroll-behavior: smooth;
}

body {
  background: black;
  margin: 0 auto;
}

main {
  padding: 0;
  height: 100vh;
  background: url(../img/main-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

h1 {
  font-size: 6rem;
  font-style: italic;
  font-weight: 600;
}

span {
  display: block;
  font-size: 4em;
  color: #fff;
}

.container {
  /* display: flex; */
  height: 100vh;
}

.enter-screen {
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
}

.enter-screen__title {
  padding-bottom: 6em;
  text-transform: uppercase;
  cursor: pointer;
}

/* .cars,
.country {
  display: none;
} */

.car-card {
  display: flex;
}

.car-card__item {
  color: #ffffff;
  text-align: center;
  background-color: #e7002a;
  box-shadow: 4px 4px 8px #1d1a1a, -4px -4px 8px #bbcfd1;
  border-radius: 10px;
  padding: 2em 3em;
  margin: 0 50px;
}

.hide {
  display: none;
}
