*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /*10px*/
  scroll-behavior: smooth;
}

body {
  background: black;
  margin: 0 auto;
}

.main-bg {
  background: url(../img/main-bg.jpg) no-repeat;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.enter-screen {
  background: url(../img/main-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.enter-screen__title {
  font-size: 3em;
  padding-bottom: 6em;
  text-transform: uppercase;
  cursor: pointer;
}

.enter-screen,
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  border: 1px solid red;
}

.main span {
  cursor: pointer;
}

.car-card {
  /* display: flex; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  background-color: #e7002a;
  -webkit-box-shadow: 4px 4px 8px #1d1a1a, -4px -4px 8px #bbcfd1;
          box-shadow: 4px 4px 8px #1d1a1a, -4px -4px 8px #bbcfd1;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin: 20px 20px;
  cursor: pointer;
}

.car-card__setups {
  display: none;
  padding: 10px;
}

.car-card__setups-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.setup__country {
  color: #ffffff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7002a;
  -webkit-box-shadow: 4px 4px 8px #1d1a1a, -4px -4px 8px #bbcfd1;
          box-shadow: 4px 4px 8px #1d1a1a, -4px -4px 8px #bbcfd1;
  border-radius: 10px;
  padding: 1em 1em;
  margin: 20px 20px;
  cursor: pointer;
}

.setup__item {
  display: none;
  /* border: 1px solid black; */
}

.setup__item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin: 5px;
  padding: 10px;
  -webkit-box-shadow: 4px 4px 8px #1d1a1a, -4px -4px 8px #bbcfd1;
          box-shadow: 4px 4px 8px #1d1a1a, -4px -4px 8px #bbcfd1;
  border-radius: 10px;
  /* height: fit-content; */
  /* border: 1px solid black; */
  background-color: mediumvioletred;
}

.setup__item.setup__item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
  position: fixed;
  bottom: 130px;
  right: 130px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
/*# sourceMappingURL=styles-test.css.map */